@import url(./reset.css);


:root {
    --app-dark-bg: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
    --app-dark-grey: #3a434d;
    --app-light-grey: #6c7e90;
}

body {
    background-color: #042a46;
    transition: all 0.25s ease-in-out;
}

.container {
    width: min(100% - 30px, 1280px);
    margin-inline: auto;
}

/* --------------------------------------HEADER----------------------------------------- */

header {
    height: 96px;
    background-color: #00acee;
    color: #f0f2f4;
    display: flex;
}

header>div {
    flex-direction: row;
}

div ul {
    text-align: right;
}

div ul li {
    display: inline;
}

div ul li+li {
    margin-left: 5px;
}


/* -------------------------------------MAIN CONTENT----------------------------------- */

.toyota>div {
    display: flex;
    flex-direction: column;
}

.cars>div {
    display: flex;
    flex-direction: column;
}






/* -----------------------------------FOOTER-------------------------------------- */

.footer-nav {
    height: 96px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateX(-10px);
    transition: all 0.5s ease-in-out;
}



footer ul {
    display: flex;
    flex-direction: row;
}

footer ul li {
    color: #f0f2f4;
}

footer ul li+li {
    margin-left: 10px;
}

footer ul li a {
    text-decoration: none;
    color: #fafafa;
    transition: color 0.25s ease-in-out;
}

.twitter:hover {
    color: #00acee;
}

.github:hover {
    color: #000000;
}

.linkedin:hover {
    color: #0e76a8;
}